################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement/.vs/EmployeeManagement/FileContentIndex
/EmployeeManagement/.vs/EmployeeManagement/v17/.suo
/EmployeeManagement/.vs/EmployeeManagement/DesignTimeBuild/.dtbcache.v2
/EmployeeManagement/.vs/ProjectEvaluation/employeemanagement.metadata.v7.bin
/EmployeeManagement/.vs/ProjectEvaluation/employeemanagement.projects.v7.bin
/EmployeeManagement/.vs/EmployeeManagement/v17/.futdcache.v2
/EmployeeManagement/.vs/EmployeeManagement/v17/DocumentLayout.json
/EmployeeManagement/.vs/ProjectEvaluation/employeemanagement.strings.v8.bin
/EmployeeManagement/.vs/ProjectEvaluation/employeemanagement.projects.v8.bin
/EmployeeManagement/.vs/ProjectEvaluation/employeemanagement.metadata.v8.bin
/EmployeeManagement/EmployeeManagement.Test/bin/Debug/net8.0
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/ref
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/refint
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/Employee.6435E1A7.Up2Date
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.AssemblyInfo.cs
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.AssemblyInfoInputs.cache
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.csproj.CoreCompileInputs.cache
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.csproj.FileListAbsolute.txt
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.dll
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.genruntimeconfig.cache
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.pdb
/EmployeeManagement/EmployeeManagement.Test/obj/Debug/net8.0/EmployeeManagement.Test.sourcelink.json
/EmployeeManagement/.vs/EmployeeManagement/v17/TestStore/0
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/ref/EmployeeManagement.dll
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/refint/EmployeeManagement.dll
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/apphost.exe
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/EmployeeManagement.AssemblyInfo.cs
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/EmployeeManagement.AssemblyInfoInputs.cache
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/EmployeeManagement.dll
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/EmployeeManagement.pdb
/EmployeeManagement/EmployeeManagement/obj/Debug/net8.0/EmployeeManagement.sourcelink.json
/EmployeeManagement/EmployeeManagement/bin/Debug/net8.0/EmployeeManagement.dll
/EmployeeManagement/EmployeeManagement/bin/Debug/net8.0/EmployeeManagement.exe
/EmployeeManagement/EmployeeManagement/bin/Debug/net8.0/EmployeeManagement.pdb
