################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement/.vs/EmployeeManagement/FileContentIndex
/EmployeeManagement/.vs/EmployeeManagement/v17/.suo
/EmployeeManagement/.vs/EmployeeManagement/DesignTimeBuild/.dtbcache.v2
/EmployeeManagement/.vs/ProjectEvaluation/employeemanagement.metadata.v7.bin
/EmployeeManagement/.vs/ProjectEvaluation/employeemanagement.projects.v7.bin
