################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement/.vs/EmployeeManagement/FileContentIndex
